.milestones__category_label {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  margin-top: -4px;
}
.milestones__horizontal_line {
  position: absolute;
  background-color: #0f172a;
  height: 3px;
  margin: 0;
  border-radius: 2px;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.95;
}
.milestones__vertical_line {
  position: absolute;
  background-color: #0f172a;
  width: 3px;
  margin: 0;
  border-radius: 1.5px;
  top: auto;
  bottom: 0;
  height: 18px;
}
.milestones__group {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
  transform: translateY(-2px);
  z-index: 2;
}
.milestones__group__bullet {
  background-color: #fff;
  border: 2px solid #3f5bff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 1;
}
.milestones__group__label-horizontal,
.milestones__group__label-vertical {
  position: absolute;
  padding: 0;
  color: #666;
}
.milestones__group__label-horizontal {
  border-left: 1px solid #000;
  margin-left: 2px;
}
.milestones__group__label-horizontal div {
  position: relative;
  margin-left: 3px;
  display: inline-block;
}
.milestones__group__label-vertical {
  padding-left: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #000;
  margin-bottom: -2px;
  margin-left: 10px;
  bottom: 100%;
  overflow: visible;
}
.milestones__group__label-vertical .wrapper {
  min-width: 100px;
  max-width: 300px;
  border-left: 1px solid black;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
  padding-left: 5px;
}
.milestones__group__label-above-horizontal {
  bottom: 100%;
}
.milestones__group__label-above-vertical {
  padding-left: 0px;
  padding-right: 10px;
  right: 100%;
  text-align: right;
}
.milestones__group__label-above-vertical .wrapper {
  border-left: 0;
  border-right: 1px solid black;
  padding-left: 0px;
  padding-right: 5px;
}
.milestones__group__label-last {
  right: 100%;
  border-left: 0;
  border-right: 1px solid #000;
  margin-left: 0;
  margin-right: -6px;
  text-align: right;
}
.milestones__group__label-last div {
  margin-left: 0px;
  margin-right: 3px;
}
.milestones__group__label__text-vertical {
  display: table-cell;
  vertical-align: bottom;
}
.milestones__group__label__text__title {
  color: #000;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
}
.milestones__group__label__text__event {
  cursor: pointer;
}
.milestones__group__label__text__event--hover {
  background: #efefef;
  color: #313131;
}
